<p id="notice"><%= notice %></p>

<h1>Join Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Item</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @join_order_items.each do |join_order_item| %>
      <tr>
        <td><%= join_order_item.order %></td>
        <td><%= join_order_item.item %></td>
        <td><%= join_order_item.quantity %></td>
        <td><%= link_to 'Show', join_order_item %></td>
        <td><%= link_to 'Edit', edit_join_order_item_path(join_order_item) %></td>
        <td><%= link_to 'Destroy', join_order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Join Order Item', new_join_order_item_path %>
