<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @join_order_item.order %>
</p>

<p>
  <strong>Item:</strong>
  <%= @join_order_item.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @join_order_item.quantity %>
</p>

<%= link_to 'Edit', edit_join_order_item_path(@join_order_item) %> |
<%= link_to 'Back', join_order_items_path %>
