<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "profile" %>
<% end %>
<section id="profile">
  <div class="container">
    <%= image_tag("kitten_profile.jpg", class: "logo", width: "30%", height: "auto", alt:"logo profile") %>
    <h1>Welcome <%= current_user.email%> !</h1>
    <a href='<%= edit_user_registration_path %>'>Edit profile</a>
    <a href='<%= carts_path %>'>Show Carts</a>
  </div>
</section>