<p id="notice"><%= notice %></p>

<h1>Your cart</h1>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Item</th>
            <th>Quantity</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @carts.each do |cart| %>
        <tr>
            <td><%= "#{cart.user.first_name} #{cart.user.last_name}" %></td>
            <td><%= cart.item.name %></td>
            <td><%= cart.quantity %></td>
            <td><%= link_to 'Show', cart %></td>
            <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
            <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= form_tag charges_path do %>
<article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
        <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
        <span>Subtotal: $5.00</span>
    </label>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Checkout Stage" data-amount='50000' data-locale="auto"></script>
<% end %>

<% #link_to 'New Cart', new_cart_path %>